.contactsListItem {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}

.contactsListItem:last-child {
  margin-bottom: 0;
}

.contactsListItem button {
  margin-left: 20px;
}
